.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.searcher {
    margin: 20px auto;
}
.searcher > input {
    width: 200px;
    padding: 5px;
}

.itemList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.itemList__item {
    width: 250px;
    margin: 20px auto;
}
.item__image {
    height: 250px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.item__image > img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
