$header-height: 60px
$section-vh: calc(100vh - #{$header-height})

//цвета
$main-dark: #161513
$secondary-dark: #1C1C22
$main-light: #E3E0DEFF
$secondary-light: #B5B5BBFF


//размеры
$base-padding: 20px
$base-margin: 10px

//медиа запросы
$mobile-width: 768px
$tablet-width: 1024px
$desktop-width: 1200px

//z индекс
$z-index-popup: 500
$z-index-overlay: 450
$z-index-tooltip: 50
