@import "src/styles/mixins"
@import "src/styles/variables"

.main
    >*
      min-height: $section-vh
      @include flex-center
      box-sizing: border-box
      padding-block: header-height-plus(16px)
    *
      color: $main-light


.landing
  >div
    width: 100%
    @include justify-center-between

    @media #{$mobile-width}
      display: block
  &__text
    text-align: left
    @media #{$mobile-width}
      text-align: center

    h1,p
      max-width: 500px
      @media #{$mobile-width}
        margin-inline: auto !important
        padding-inline: 8px
    p
      margin-block: 20px

    .skills
      &__title
        font-weight: bold
      hr
        margin-block: 5px
        color: $secondary_light
        @media #{$mobile-width}
          width: 250px
          margin-inline: auto

      &__images
        margin-top: 10px
        img:not(:last-child)
          margin-right: 8px

  &__image
    width: auto
    height: auto
    max-width: 400px
    max-height: 350px
    border-radius: 8px
    img
      @include imageDefault
      border-radius: 8px
      object-fit: contain
    &_start
      display: none
      @media #{$mobile-width}
        display: block
    &_end
      @media #{$mobile-width}
        display: none


.about
  flex-wrap: wrap
  justify-content: space-between

  &__title
    width: 100%
    margin-bottom: $title-margin
  &__block1, &__block2, &__block2_mobile
    width: 45%
    margin-top: -15%
    @media #{$mobile-width}
      width: 100%
      margin-top: 5%

  &__block2, &__block2_mobile
    p:first-of-type
      margin-block: $title-margin

  &__block2
    margin-top: 30%

    &_mobile
      display: none

    @media #{$mobile-width}
      display: none
      &_mobile
        display: inline-block !important
        margin-top: 5%


  &__image
    width: 100%
    @media #{$mobile-width}
      width: 75%




.projects
  &>div
    width: 100%
  .tabs
    width: 100%
  .tabs *
    color: $main-light
    margin-inline: auto

  &__title
    margin-bottom: $title-margin

  &__wrapper
    @include flex-center-column
    background-color: $secondary-dark
    border-radius: 8px

  &__content
    @include justify-center-between
    height: 300px
    width: 100%
    padding: $block-margin
    box-sizing: border-box
    .images
      max-height: 100%
      max-width: 50%
      @include flex-center-column
      img
        border-radius: 8px
      @media #{$mobile-width}
        max-height: 300px
        max-width: 100%
    @media #{$mobile-width}
      display: block
      height: auto

  &__actions
    display: flex
    align-items: center
    >*:not(:first-child)
      margin-left: 4px

  &__caption
    width: 100%
    text-align: start
    margin-left: $block-margin
    >*:not(:first-child)
      margin-top: $inner-block-margin
    &_center
      p
        width: 75%
        margin-inline: auto
      >*
        justify-content: center
        &:not(:first-child)
          margin-top: $inner-block-margin
    @media #{$mobile-width}
      text-align: center
      margin-left: 0
      >*
        max-width: 75%
        margin-inline: auto
        justify-content: center
        &:not(:first-child)
          margin-top: $inner-block-margin


.contacts
  &__title
    margin-bottom: $title-margin
  &__content
    @include flex-center-column

  &__actions
    @include flex-center
    >*:not(:first-child)
      margin-left: 8px

  .links
    @include flex-center-wrap
    &__title
      width: 100%
      margin-block: $inner-block-margin
    b:not(:first-child)
      margin-left: 8px