.back{
}
.back__item{
    width: 100vw;
    aspect-ratio: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.back__item_active{
    animation: zoom 2s linear;
    z-index: 20;
}
.back__item_passive{
    z-index: 10;
}

.main{
    position: relative;
    z-index: 100;
}

.wrapper {
    display: flex;
    align-items: start;
    justify-content: center;
}
.wrapper > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.wrapper__text {
    position: sticky;
    margin: 0;
    transition: .1s ease-in;
}
.wrapper__item {
    height: fit-content;
    position: sticky;
    display: flex;
}
.wrapper__item img {
    height: 100%;
    object-fit: contain;
}

.marquee{
    max-width: 100vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.marquee div{
    width: 200%;
    display: flex;
    align-items: center;
    animation: move 5s linear infinite;
}
.marquee h2{
    white-space: nowrap;
    width: 100%;
    font-size: 2rem;
}
@keyframes move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
@keyframes zoom {
    0% {
        opacity: 50%;
        width: 120vw;
    }
    10% {
        opacity: 100%;
        width: 110vw;
    }
    100% {
        opacity: 100%;
        width: 100vw;
    }
}