@import "src/styles/mixins"
@import "src/styles/variables"

.App
  *
    color: $main-light

.container
  width: 100dvw
  max-width: 760px
  margin-inline: auto
  padding-inline: $title-margin
  text-align: center

  @media #{$laptop-width}
    max-width: 850px
  @media #{$desktop-width}
    max-width: 1000px