.header{
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}
.header__links{
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__links>a{
    color: #ffffff;
    text-decoration: none;
}